body{
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    color: hsl(0, 36%, 70%)
}
.container-1{
    background: url(./images/bg-pattern-desktop.svg);
    background-size: cover;
    background-position: center;
    background: linear-gradient(to right,hsl(0, 74%, 74%)hsl(0, 80%, 86%));
    display: flex;
    flex-direction: column;
    width: 60%;
}
.logo-container{
    margin-left:10%;
    margin-top: 5%;
}
.logo{
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}
.mobile-image{
    display: none;
}

.heading{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 5.5rem;
    width: 50%;
    font-weight:300;
    letter-spacing: 1.5rem;
    margin-bottom: 10px;
}
.heading-in-heading{
    font-size: 5.5rem;
    font-weight:300;
    color: hsl(0, 6%, 24%);
}

.paragraph-display{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    width:50%;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 2%;
}
.email-input-field{
    margin-left: 10%;
    margin-bottom: 10%;
    width: 50%;
    height: 75px;
    border-radius: 50px;
    border: 1px solid hsl(0, 36%, 70%);
    padding-left: 10px;
    font-size: 1.3rem;
    outline: none;
    caret-color: hsl(0, 36%, 70%);
    text-indent: 40px;
}
.email-input-field::placeholder{
    color:hsl(0, 25%, 70%);
}


.innner-container {
    display: flex;
    width: 500px;
    padding: 4px;
    padding-left: 20px;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #fce6ef;
    border-radius: 50px;
    border: 1px solid #ffc5dd;
  }
  
  input {
    width: 100%;
    height: 54px;
    background: none;
    border: 0;
    padding: 0;
    outline: none;
  }
  
  button {
    position:relative;
    height: 80px;
    width: 144px;
    right: 120px;
    background-color: hsl(0, 36%, 70%);
    background: linear-gradient(to right, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    color: #ffffff;
    text-transform: uppercase;
    border-style: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
  }
  


  .container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #fff;
}
.hero-image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}




  /*Media Queries for mobile*/
  @media screen and (min-width: 100px) and (max-width: 800px) {
    body{
        flex-direction: column;
    }

    .container-1{
        width: 100%;
    }


    .mobile-image{
        display:block;
        width: 100%;
    }
    .mobile-image img{
        width: 100%;
        height: auto;
    }


    .logo-container{
        margin-top: 5%;
    }
    .logo{
        width: 150px;
        height: auto;
        margin-bottom: 40px;
        margin-top:40px;
    }

    .heading-container{
        margin-top:40px;
        margin-bottom:20px;
        letter-spacing: 0rem;
        font-size: 3rem;
    }
    .heading{
        font-size: 2.5rem;
        width: 100%;
        font-weight:300;
        text-align: center;
        margin-left:0px;
    }
    .heading-in-heading{
        font-size: 2.5rem;
        font-weight:300;
        color: hsl(0, 6%, 24%);
    }
    .paragraph-container{
        text-align: center;
    }
    .paragraph-display{
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        width:90%;
        font-size: 1.3rem;
        line-height: 1.5;
        margin-top: 2%;
    }


    
    .container-2{
        display:none;
    }

    /*We're going to make our desktop hero image dissapear and place a mobile image version in the index.html*/
  }



