body{
    font-family: 'Josefin Sans', sans-serif;
    margin:0;
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: hsl(0, 36%, 70%)
}
.container-1{
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #f1f1f1;
}
.logo-container{
    margin-left:10%;
    margin-top: 5%;
}
.logo{
    width: 300px;
    height: auto;
    margin-bottom: 40px;
}
.heading{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 6.5rem;
    width: 50%;
    font-weight:300;
}

.paragraph-display{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    width:50%;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 2%;
}







.container-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: #fff;
}
.hero-image{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}